# Group by

In [1]:
# Extract the data belongs to brazil with key factors are female from IT department

In [2]:
import pandas as pd

In [3]:
data = pd.read_excel("/Users/archanaqueen/Desktop/i18n/Daily Class/Pandas/Dataset_work/Employee Sample Data.xlsx")

In [4]:
data

,EEID,Full Name,Job Title,Department,Business Unit,Gender,Ethnicity,Age,Hire Date,Annual Salary,Bonus %,Country,City,Exit Date
0,E02387,Emily Davis,Sr. Manger,IT,Research & Development,Female,Black,55,2016-04-08,141604,0.15,United States,Seattle,2021-10-16
1,E04105,Theodore Dinh,Technical Architect,IT,Manufacturing,Male,Asian,59,1997-11-29,99975,0.00,China,Chongqing,NaT
2,E02572,Luna Sanders,Director,Finance,Speciality Products,Female,Caucasian,50,2006-10-26,163099,0.20,United States,Chicago,NaT
3,E02832,Penelope Jordan,Computer Systems Manager,IT,Manufacturing,Female,Caucasian,26,2019-09-27,84913,0.07,United States,Chicago,NaT
4,E01639,Austin Vo,Sr. Analyst,Finance,Manufacturing,Male,Asian,55,1995-11-20,95409,0.00,United States,Phoenix,NaT
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,E03094,Wesley Young,Sr. Analyst,Marketing,Speciality Products,Male,Caucasian,33,2016-09-18,98427,0.00,United States,Columbus,NaT
996,E01909,Lillian Khan,Analyst,Finance,Speciality Products,Female,Asian,44,2010-05-31,47387,0.00,China,Chengdu,2018-01-08
997,E04398,Oliver Yang,Director,Marketing,Speciality Products,Male,Asian,31,2019-06-10,176710,0.15,United States,Miami,NaT
998,E02521,Lily Nguyen,Sr. Analyst,Finance,Speciality Products,Female,Asian,33,2012-01-28,95960,0.00,China,Chengdu,NaT
999,E03545,Sofia Cheng,Vice President,Accounting,Corporate,Female,Asian,63,2020-07-26,216195,0.31,United States,Miami,NaT

In [5]:
data.head()

,EEID,Full Name,Job Title,Department,Business Unit,Gender,Ethnicity,Age,Hire Date,Annual Salary,Bonus %,Country,City,Exit Date
0,E02387,Emily Davis,Sr. Manger,IT,Research & Development,Female,Black,55,2016-04-08,141604,0.15,United States,Seattle,2021-10-16
1,E04105,Theodore Dinh,Technical Architect,IT,Manufacturing,Male,Asian,59,1997-11-29,99975,0.00,China,Chongqing,NaT
2,E02572,Luna Sanders,Director,Finance,Speciality Products,Female,Caucasian,50,2006-10-26,163099,0.20,United States,Chicago,NaT
3,E02832,Penelope Jordan,Computer Systems Manager,IT,Manufacturing,Female,Caucasian,26,2019-09-27,84913,0.07,United States,Chicago,NaT
4,E01639,Austin Vo,Sr. Analyst,Finance,Manufacturing,Male,Asian,55,1995-11-20,95409,0.00,United States,Phoenix,NaT

In [6]:
data.tail()

,EEID,Full Name,Job Title,Department,Business Unit,Gender,Ethnicity,Age,Hire Date,Annual Salary,Bonus %,Country,City,Exit Date
995,E03094,Wesley Young,Sr. Analyst,Marketing,Speciality Products,Male,Caucasian,33,2016-09-18,98427,0.00,United States,Columbus,NaT
996,E01909,Lillian Khan,Analyst,Finance,Speciality Products,Female,Asian,44,2010-05-31,47387,0.00,China,Chengdu,2018-01-08
997,E04398,Oliver Yang,Director,Marketing,Speciality Products,Male,Asian,31,2019-06-10,176710,0.15,United States,Miami,NaT
998,E02521,Lily Nguyen,Sr. Analyst,Finance,Speciality Products,Female,Asian,33,2012-01-28,95960,0.00,China,Chengdu,NaT
999,E03545,Sofia Cheng,Vice President,Accounting,Corporate,Female,Asian,63,2020-07-26,216195,0.31,United States,Miami,NaT

In [7]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 14 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   EEID           1000 non-null   object
 1   Full Name      1000 non-null   object
 2   Job Title      1000 non-null   object
 3   Department     1000 non-null   object
 4   Business Unit  1000 non-null   object
 5   Gender         1000 non-null   object
 6   Ethnicity      1000 non-null   object
 7   Age            1000 non-null   int64
 8   Hire Date      1000 non-null   datetime64[ns]
 9   Annual Salary  1000 non-null   int64
 10  Bonus %        1000 non-null   float64
 11  Country        1000 non-null   object
 12  City           1000 non-null   object
 13  Exit Date      85 non-null     datetime64[ns]
dtypes: datetime64[ns](2), float64(1), int64(2), object(9)
memory usage: 109.5+ KB

In [8]:
data.info(memory_usage='deep')

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 14 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   EEID           1000 non-null   object
 1   Full Name      1000 non-null   object
 2   Job Title      1000 non-null   object
 3   Department     1000 non-null   object
 4   Business Unit  1000 non-null   object
 5   Gender         1000 non-null   object
 6   Ethnicity      1000 non-null   object
 7   Age            1000 non-null   int64
 8   Hire Date      1000 non-null   datetime64[ns]
 9   Annual Salary  1000 non-null   int64
 10  Bonus %        1000 non-null   float64
 11  Country        1000 non-null   object
 12  City           1000 non-null   object
 13  Exit Date      85 non-null     datetime64[ns]
dtypes: datetime64[ns](2), float64(1), int64(2), object(9)
memory usage: 622.2 KB

In [9]:
data.columns

Index(['EEID', 'Full Name', 'Job Title', 'Department', 'Business Unit',
       'Gender', 'Ethnicity', 'Age', 'Hire Date', 'Annual Salary', 'Bonus %',
       'Country', 'City', 'Exit Date'],
      dtype='object')

In [10]:
data['Job Title']

0                    Sr. Manger
1           Technical Architect
2                      Director
3      Computer Systems Manager
4                   Sr. Analyst
                 ...
995                 Sr. Analyst
996                     Analyst
997                    Director
998                 Sr. Analyst
999              Vice President
Name: Job Title, Length: 1000, dtype: object

In [11]:
type(data)

pandas.core.frame.DataFrame

In [12]:
type(data['EEID'])

pandas.core.series.Series

In [13]:
data.dtypes

EEID                     object
Full Name                object
Job Title                object
Department               object
Business Unit            object
Gender                   object
Ethnicity                object
Age                       int64
Hire Date        datetime64[ns]
Annual Salary             int64
Bonus %                 float64
Country                  object
City                     object
Exit Date        datetime64[ns]
dtype: object

In [14]:
x = data.groupby("Country")

In [15]:
x

In [16]:
x.get_group("Brazil")

,EEID,Full Name,Job Title,Department,Business Unit,Gender,Ethnicity,Age,Hire Date,Annual Salary,Bonus %,Country,City,Exit Date
20,E03680,Elias Alvarado,Sr. Manger,IT,Manufacturing,Male,Latino,56,2012-01-09,146140,0.10,Brazil,Manaus,NaT
22,E03484,Logan Rivera,Director,IT,Research & Development,Male,Latino,59,2002-05-24,172787,0.28,Brazil,Rio de Janerio,NaT
26,E04545,Abigail Mejia,Quality Engineer,Engineering,Corporate,Female,Latino,56,2005-02-05,98581,0.00,Brazil,Rio de Janerio,NaT
31,E00402,Dominic Guzman,Analyst,Finance,Manufacturing,Male,Latino,65,2004-05-16,55499,0.00,Brazil,Manaus,NaT
39,E01417,Leah Pena,Enterprise Architect,IT,Corporate,Female,Latino,57,1994-01-03,82872,0.00,Brazil,Manaus,NaT
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
950,E02888,Elijah Ramos,Sr. Manger,IT,Speciality Products,Male,Latino,33,2012-12-24,132544,0.10,Brazil,Rio de Janerio,NaT
955,E02561,Samantha Vargas,Director,Human Resources,Corporate,Female,Latino,53,2006-07-21,151246,0.21,Brazil,Sao Paulo,NaT
968,E02221,Julian Delgado,Systems Analyst,IT,Speciality Products,Male,Latino,29,2016-05-19,52693,0.00,Brazil,Rio de Janerio,NaT
970,E02627,Parker Avila,Analyst II,Marketing,Manufacturing,Male,Latino,47,2005-11-28,62749,0.00,Brazil,Manaus,NaT
991,E03430,Leo Herrera,Sr. Business Partner,Human Resources,Research & Development,Male,Latino,48,1998-04-22,85369,0.00,Brazil,Manaus,2004-11-27

In [20]:
brdf = x.get_group("Brazil")

In [21]:
brdf.columns

Index(['EEID', 'Full Name', 'Job Title', 'Department', 'Business Unit',
       'Gender', 'Ethnicity', 'Age', 'Hire Date', 'Annual Salary', 'Bonus %',
       'Country', 'City', 'Exit Date'],
      dtype='object')

In [22]:
brdf[(brdf['Gender']=='Female') & (brdf['Department']=='IT')]

,EEID,Full Name,Job Title,Department,Business Unit,Gender,Ethnicity,Age,Hire Date,Annual Salary,Bonus %,Country,City,Exit Date
39,E01417,Leah Pena,Enterprise Architect,IT,Corporate,Female,Latino,57,1994-01-03,82872,0.00,Brazil,Manaus,NaT
60,E00699,Ava Ayala,Sr. Manger,IT,Corporate,Female,Latino,55,2006-08-16,159044,0.10,Brazil,Manaus,NaT
87,E03440,Genesis Navarro,Cloud Infrastructure Architect,IT,Corporate,Female,Latino,41,2009-04-28,69803,0.00,Brazil,Manaus,NaT
88,E00431,Eliza Hernandez,Network Architect,IT,Corporate,Female,Latino,48,2019-07-04,76588,0.00,Brazil,Rio de Janerio,NaT
97,E04931,Zoe Romero,Network Architect,IT,Manufacturing,Female,Latino,32,2021-10-05,88072,0.00,Brazil,Sao Paulo,NaT
269,E01525,Charlotte Ruiz,Computer Systems Manager,IT,Manufacturing,Female,Latino,32,2017-10-02,61886,0.09,Brazil,Rio de Janerio,NaT
386,E01241,Hadley Guerrero,Sr. Manger,IT,Research & Development,Female,Latino,49,2004-01-14,125086,0.10,Brazil,Sao Paulo,NaT
624,E01432,Peyton Garza,Systems Analyst,IT,Manufacturing,Female,Latino,53,2004-08-15,44735,0.00,Brazil,Manaus,NaT
705,E02192,Lucy Avila,Solutions Architect,IT,Speciality Products,Female,Latino,43,2010-04-22,76912,0.00,Brazil,Sao Paulo,NaT
731,E01649,Eva Alvarado,Computer Systems Manager,IT,Manufacturing,Female,Latino,46,2017-04-24,77461,0.09,Brazil,Sao Paulo,NaT
825,E00035,Lillian Gonzales,Cloud Infrastructure Architect,IT,Manufacturing,Female,Latino,43,2009-03-13,62335,0.00,Brazil,Manaus,NaT
886,E00102,Riley Rojas,Network Architect,IT,Speciality Products,Female,Latino,36,2021-01-21,90333,0.00,Brazil,Rio de Janerio,NaT

In [23]:
data

,EEID,Full Name,Job Title,Department,Business Unit,Gender,Ethnicity,Age,Hire Date,Annual Salary,Bonus %,Country,City,Exit Date
0,E02387,Emily Davis,Sr. Manger,IT,Research & Development,Female,Black,55,2016-04-08,141604,0.15,United States,Seattle,2021-10-16
1,E04105,Theodore Dinh,Technical Architect,IT,Manufacturing,Male,Asian,59,1997-11-29,99975,0.00,China,Chongqing,NaT
2,E02572,Luna Sanders,Director,Finance,Speciality Products,Female,Caucasian,50,2006-10-26,163099,0.20,United States,Chicago,NaT
3,E02832,Penelope Jordan,Computer Systems Manager,IT,Manufacturing,Female,Caucasian,26,2019-09-27,84913,0.07,United States,Chicago,NaT
4,E01639,Austin Vo,Sr. Analyst,Finance,Manufacturing,Male,Asian,55,1995-11-20,95409,0.00,United States,Phoenix,NaT
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,E03094,Wesley Young,Sr. Analyst,Marketing,Speciality Products,Male,Caucasian,33,2016-09-18,98427,0.00,United States,Columbus,NaT
996,E01909,Lillian Khan,Analyst,Finance,Speciality Products,Female,Asian,44,2010-05-31,47387,0.00,China,Chengdu,2018-01-08
997,E04398,Oliver Yang,Director,Marketing,Speciality Products,Male,Asian,31,2019-06-10,176710,0.15,United States,Miami,NaT
998,E02521,Lily Nguyen,Sr. Analyst,Finance,Speciality Products,Female,Asian,33,2012-01-28,95960,0.00,China,Chengdu,NaT
999,E03545,Sofia Cheng,Vice President,Accounting,Corporate,Female,Asian,63,2020-07-26,216195,0.31,United States,Miami,NaT

In [24]:
data.set_index("Country",inplace=True)

In [25]:
data

,EEID,Full Name,Job Title,Department,Business Unit,Gender,Ethnicity,Age,Hire Date,Annual Salary,Bonus %,City,Exit Date
Country,,,,,,,,,,,,,
United States,E02387,Emily Davis,Sr. Manger,IT,Research & Development,Female,Black,55,2016-04-08,141604,0.15,Seattle,2021-10-16
China,E04105,Theodore Dinh,Technical Architect,IT,Manufacturing,Male,Asian,59,1997-11-29,99975,0.00,Chongqing,NaT
United States,E02572,Luna Sanders,Director,Finance,Speciality Products,Female,Caucasian,50,2006-10-26,163099,0.20,Chicago,NaT
United States,E02832,Penelope Jordan,Computer Systems Manager,IT,Manufacturing,Female,Caucasian,26,2019-09-27,84913,0.07,Chicago,NaT
United States,E01639,Austin Vo,Sr. Analyst,Finance,Manufacturing,Male,Asian,55,1995-11-20,95409,0.00,Phoenix,NaT
...,...,...,...,...,...,...,...,...,...,...,...,...,...
United States,E03094,Wesley Young,Sr. Analyst,Marketing,Speciality Products,Male,Caucasian,33,2016-09-18,98427,0.00,Columbus,NaT
China,E01909,Lillian Khan,Analyst,Finance,Speciality Products,Female,Asian,44,2010-05-31,47387,0.00,Chengdu,2018-01-08
United States,E04398,Oliver Yang,Director,Marketing,Speciality Products,Male,Asian,31,2019-06-10,176710,0.15,Miami,NaT
China,E02521,Lily Nguyen,Sr. Analyst,Finance,Speciality Products,Female,Asian,33,2012-01-28,95960,0.00,Chengdu,NaT
United States,E03545,Sofia Cheng,Vice President,Accounting,Corporate,Female,Asian,63,2020-07-26,216195,0.31,Miami,NaT

# Another method like set_index

In [26]:
data.xs("Brazil")

,EEID,Full Name,Job Title,Department,Business Unit,Gender,Ethnicity,Age,Hire Date,Annual Salary,Bonus %,City,Exit Date
Country,,,,,,,,,,,,,
Brazil,E03680,Elias Alvarado,Sr. Manger,IT,Manufacturing,Male,Latino,56,2012-01-09,146140,0.10,Manaus,NaT
Brazil,E03484,Logan Rivera,Director,IT,Research & Development,Male,Latino,59,2002-05-24,172787,0.28,Rio de Janerio,NaT
Brazil,E04545,Abigail Mejia,Quality Engineer,Engineering,Corporate,Female,Latino,56,2005-02-05,98581,0.00,Rio de Janerio,NaT
Brazil,E00402,Dominic Guzman,Analyst,Finance,Manufacturing,Male,Latino,65,2004-05-16,55499,0.00,Manaus,NaT
Brazil,E01417,Leah Pena,Enterprise Architect,IT,Corporate,Female,Latino,57,1994-01-03,82872,0.00,Manaus,NaT
...,...,...,...,...,...,...,...,...,...,...,...,...,...
Brazil,E02888,Elijah Ramos,Sr. Manger,IT,Speciality Products,Male,Latino,33,2012-12-24,132544,0.10,Rio de Janerio,NaT
Brazil,E02561,Samantha Vargas,Director,Human Resources,Corporate,Female,Latino,53,2006-07-21,151246,0.21,Sao Paulo,NaT
Brazil,E02221,Julian Delgado,Systems Analyst,IT,Speciality Products,Male,Latino,29,2016-05-19,52693,0.00,Rio de Janerio,NaT
Brazil,E02627,Parker Avila,Analyst II,Marketing,Manufacturing,Male,Latino,47,2005-11-28,62749,0.00,Manaus,NaT
Brazil,E03430,Leo Herrera,Sr. Business Partner,Human Resources,Research & Development,Male,Latino,48,1998-04-22,85369,0.00,Manaus,2004-11-27

In [27]:
data

,EEID,Full Name,Job Title,Department,Business Unit,Gender,Ethnicity,Age,Hire Date,Annual Salary,Bonus %,City,Exit Date
Country,,,,,,,,,,,,,
United States,E02387,Emily Davis,Sr. Manger,IT,Research & Development,Female,Black,55,2016-04-08,141604,0.15,Seattle,2021-10-16
China,E04105,Theodore Dinh,Technical Architect,IT,Manufacturing,Male,Asian,59,1997-11-29,99975,0.00,Chongqing,NaT
United States,E02572,Luna Sanders,Director,Finance,Speciality Products,Female,Caucasian,50,2006-10-26,163099,0.20,Chicago,NaT
United States,E02832,Penelope Jordan,Computer Systems Manager,IT,Manufacturing,Female,Caucasian,26,2019-09-27,84913,0.07,Chicago,NaT
United States,E01639,Austin Vo,Sr. Analyst,Finance,Manufacturing,Male,Asian,55,1995-11-20,95409,0.00,Phoenix,NaT
...,...,...,...,...,...,...,...,...,...,...,...,...,...
United States,E03094,Wesley Young,Sr. Analyst,Marketing,Speciality Products,Male,Caucasian,33,2016-09-18,98427,0.00,Columbus,NaT
China,E01909,Lillian Khan,Analyst,Finance,Speciality Products,Female,Asian,44,2010-05-31,47387,0.00,Chengdu,2018-01-08
United States,E04398,Oliver Yang,Director,Marketing,Speciality Products,Male,Asian,31,2019-06-10,176710,0.15,Miami,NaT
China,E02521,Lily Nguyen,Sr. Analyst,Finance,Speciality Products,Female,Asian,33,2012-01-28,95960,0.00,Chengdu,NaT
United States,E03545,Sofia Cheng,Vice President,Accounting,Corporate,Female,Asian,63,2020-07-26,216195,0.31,Miami,NaT

In [28]:
data.xs("Brazil")

,EEID,Full Name,Job Title,Department,Business Unit,Gender,Ethnicity,Age,Hire Date,Annual Salary,Bonus %,City,Exit Date
Country,,,,,,,,,,,,,
Brazil,E03680,Elias Alvarado,Sr. Manger,IT,Manufacturing,Male,Latino,56,2012-01-09,146140,0.10,Manaus,NaT
Brazil,E03484,Logan Rivera,Director,IT,Research & Development,Male,Latino,59,2002-05-24,172787,0.28,Rio de Janerio,NaT
Brazil,E04545,Abigail Mejia,Quality Engineer,Engineering,Corporate,Female,Latino,56,2005-02-05,98581,0.00,Rio de Janerio,NaT
Brazil,E00402,Dominic Guzman,Analyst,Finance,Manufacturing,Male,Latino,65,2004-05-16,55499,0.00,Manaus,NaT
Brazil,E01417,Leah Pena,Enterprise Architect,IT,Corporate,Female,Latino,57,1994-01-03,82872,0.00,Manaus,NaT
...,...,...,...,...,...,...,...,...,...,...,...,...,...
Brazil,E02888,Elijah Ramos,Sr. Manger,IT,Speciality Products,Male,Latino,33,2012-12-24,132544,0.10,Rio de Janerio,NaT
Brazil,E02561,Samantha Vargas,Director,Human Resources,Corporate,Female,Latino,53,2006-07-21,151246,0.21,Sao Paulo,NaT
Brazil,E02221,Julian Delgado,Systems Analyst,IT,Speciality Products,Male,Latino,29,2016-05-19,52693,0.00,Rio de Janerio,NaT
Brazil,E02627,Parker Avila,Analyst II,Marketing,Manufacturing,Male,Latino,47,2005-11-28,62749,0.00,Manaus,NaT
Brazil,E03430,Leo Herrera,Sr. Business Partner,Human Resources,Research & Development,Male,Latino,48,1998-04-22,85369,0.00,Manaus,2004-11-27

In [29]:
brdf = data.xs("Brazil")

In [30]:
brdf.columns

Index(['EEID', 'Full Name', 'Job Title', 'Department', 'Business Unit',
       'Gender', 'Ethnicity', 'Age', 'Hire Date', 'Annual Salary', 'Bonus %',
       'City', 'Exit Date'],
      dtype='object')

In [31]:
brdf[(brdf['Gender']=='Female') & (brdf['Department']=='IT')]

,EEID,Full Name,Job Title,Department,Business Unit,Gender,Ethnicity,Age,Hire Date,Annual Salary,Bonus %,City,Exit Date
Country,,,,,,,,,,,,,
Brazil,E01417,Leah Pena,Enterprise Architect,IT,Corporate,Female,Latino,57,1994-01-03,82872,0.00,Manaus,NaT
Brazil,E00699,Ava Ayala,Sr. Manger,IT,Corporate,Female,Latino,55,2006-08-16,159044,0.10,Manaus,NaT
Brazil,E03440,Genesis Navarro,Cloud Infrastructure Architect,IT,Corporate,Female,Latino,41,2009-04-28,69803,0.00,Manaus,NaT
Brazil,E00431,Eliza Hernandez,Network Architect,IT,Corporate,Female,Latino,48,2019-07-04,76588,0.00,Rio de Janerio,NaT
Brazil,E04931,Zoe Romero,Network Architect,IT,Manufacturing,Female,Latino,32,2021-10-05,88072,0.00,Sao Paulo,NaT
Brazil,E01525,Charlotte Ruiz,Computer Systems Manager,IT,Manufacturing,Female,Latino,32,2017-10-02,61886,0.09,Rio de Janerio,NaT
Brazil,E01241,Hadley Guerrero,Sr. Manger,IT,Research & Development,Female,Latino,49,2004-01-14,125086,0.10,Sao Paulo,NaT
Brazil,E01432,Peyton Garza,Systems Analyst,IT,Manufacturing,Female,Latino,53,2004-08-15,44735,0.00,Manaus,NaT
Brazil,E02192,Lucy Avila,Solutions Architect,IT,Speciality Products,Female,Latino,43,2010-04-22,76912,0.00,Sao Paulo,NaT
Brazil,E01649,Eva Alvarado,Computer Systems Manager,IT,Manufacturing,Female,Latino,46,2017-04-24,77461,0.09,Sao Paulo,NaT
Brazil,E00035,Lillian Gonzales,Cloud Infrastructure Architect,IT,Manufacturing,Female,Latino,43,2009-03-13,62335,0.00,Manaus,NaT
Brazil,E00102,Riley Rojas,Network Architect,IT,Speciality Products,Female,Latino,36,2021-01-21,90333,0.00,Rio de Janerio,NaT

In [37]:
data = pd.read_excel("/Users/archanaqueen/Desktop/i18n/Daily Class/Pandas/Dataset_work/Employee Sample Data.xlsx")

In [38]:
data

,EEID,Full Name,Job Title,Department,Business Unit,Gender,Ethnicity,Age,Hire Date,Annual Salary,Bonus %,Country,City,Exit Date
0,E02387,Emily Davis,Sr. Manger,IT,Research & Development,Female,Black,55,2016-04-08,141604,0.15,United States,Seattle,2021-10-16
1,E04105,Theodore Dinh,Technical Architect,IT,Manufacturing,Male,Asian,59,1997-11-29,99975,0.00,China,Chongqing,NaT
2,E02572,Luna Sanders,Director,Finance,Speciality Products,Female,Caucasian,50,2006-10-26,163099,0.20,United States,Chicago,NaT
3,E02832,Penelope Jordan,Computer Systems Manager,IT,Manufacturing,Female,Caucasian,26,2019-09-27,84913,0.07,United States,Chicago,NaT
4,E01639,Austin Vo,Sr. Analyst,Finance,Manufacturing,Male,Asian,55,1995-11-20,95409,0.00,United States,Phoenix,NaT
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,E03094,Wesley Young,Sr. Analyst,Marketing,Speciality Products,Male,Caucasian,33,2016-09-18,98427,0.00,United States,Columbus,NaT
996,E01909,Lillian Khan,Analyst,Finance,Speciality Products,Female,Asian,44,2010-05-31,47387,0.00,China,Chengdu,2018-01-08
997,E04398,Oliver Yang,Director,Marketing,Speciality Products,Male,Asian,31,2019-06-10,176710,0.15,United States,Miami,NaT
998,E02521,Lily Nguyen,Sr. Analyst,Finance,Speciality Products,Female,Asian,33,2012-01-28,95960,0.00,China,Chengdu,NaT
999,E03545,Sofia Cheng,Vice President,Accounting,Corporate,Female,Asian,63,2020-07-26,216195,0.31,United States,Miami,NaT

In [39]:
data.loc[(data['Country']=='Brazil')&(data['Gender']=='Female')&(data['Department']=='IT'),:]

,EEID,Full Name,Job Title,Department,Business Unit,Gender,Ethnicity,Age,Hire Date,Annual Salary,Bonus %,Country,City,Exit Date
39,E01417,Leah Pena,Enterprise Architect,IT,Corporate,Female,Latino,57,1994-01-03,82872,0.00,Brazil,Manaus,NaT
60,E00699,Ava Ayala,Sr. Manger,IT,Corporate,Female,Latino,55,2006-08-16,159044,0.10,Brazil,Manaus,NaT
87,E03440,Genesis Navarro,Cloud Infrastructure Architect,IT,Corporate,Female,Latino,41,2009-04-28,69803,0.00,Brazil,Manaus,NaT
88,E00431,Eliza Hernandez,Network Architect,IT,Corporate,Female,Latino,48,2019-07-04,76588,0.00,Brazil,Rio de Janerio,NaT
97,E04931,Zoe Romero,Network Architect,IT,Manufacturing,Female,Latino,32,2021-10-05,88072,0.00,Brazil,Sao Paulo,NaT
269,E01525,Charlotte Ruiz,Computer Systems Manager,IT,Manufacturing,Female,Latino,32,2017-10-02,61886,0.09,Brazil,Rio de Janerio,NaT
386,E01241,Hadley Guerrero,Sr. Manger,IT,Research & Development,Female,Latino,49,2004-01-14,125086,0.10,Brazil,Sao Paulo,NaT
624,E01432,Peyton Garza,Systems Analyst,IT,Manufacturing,Female,Latino,53,2004-08-15,44735,0.00,Brazil,Manaus,NaT
705,E02192,Lucy Avila,Solutions Architect,IT,Speciality Products,Female,Latino,43,2010-04-22,76912,0.00,Brazil,Sao Paulo,NaT
731,E01649,Eva Alvarado,Computer Systems Manager,IT,Manufacturing,Female,Latino,46,2017-04-24,77461,0.09,Brazil,Sao Paulo,NaT
825,E00035,Lillian Gonzales,Cloud Infrastructure Architect,IT,Manufacturing,Female,Latino,43,2009-03-13,62335,0.00,Brazil,Manaus,NaT
886,E00102,Riley Rojas,Network Architect,IT,Speciality Products,Female,Latino,36,2021-01-21,90333,0.00,Brazil,Rio de Janerio,NaT

In [40]:
data.loc[[0,1,2,3,4] ,: ]

,EEID,Full Name,Job Title,Department,Business Unit,Gender,Ethnicity,Age,Hire Date,Annual Salary,Bonus %,Country,City,Exit Date
0,E02387,Emily Davis,Sr. Manger,IT,Research & Development,Female,Black,55,2016-04-08,141604,0.15,United States,Seattle,2021-10-16
1,E04105,Theodore Dinh,Technical Architect,IT,Manufacturing,Male,Asian,59,1997-11-29,99975,0.00,China,Chongqing,NaT
2,E02572,Luna Sanders,Director,Finance,Speciality Products,Female,Caucasian,50,2006-10-26,163099,0.20,United States,Chicago,NaT
3,E02832,Penelope Jordan,Computer Systems Manager,IT,Manufacturing,Female,Caucasian,26,2019-09-27,84913,0.07,United States,Chicago,NaT
4,E01639,Austin Vo,Sr. Analyst,Finance,Manufacturing,Male,Asian,55,1995-11-20,95409,0.00,United States,Phoenix,NaT