# Pandas DataFrame at iat

# Now we need to access a single value for row column pair by integer position or by position accessing the single value for the column.

In [2]:
# Both row and column we are accessing single value

In [3]:
import pandas as pd

# pandas.DataFrame.at

In [4]:
# Both row and column we are accessing single value using this method

In [10]:
data = pd.read_csv("C:/Users/91701/Desktop/Dataset/worldcities2.csv", encoding='latin-1')

In [11]:
data

,city,city_ascii,city_alt,lat,lng,country,iso2,iso3,admin_name,admin_name_ascii,admin_code,admin_type,capital,density,population,population_proper,ranking,timezone,same_name,id
0,Saint-Oblas,Saint-Oblas,NaN,45.5674,5.0447,France,FR,FRA,Auvergne-RhÃ´ne-Alpes,Auvergne-Rhone-Alpes,FR-ARA,region,NaN,129.2,NaN,NaN,4,Europe/Paris,False,1250867231
1,Louresse,Louresse,Louresse-Rochemenier,47.2394,-0.3136,France,FR,FRA,Pays de la Loire,Pays de la Loire,FR-R,region,NaN,33.8,872.0,872.0,3,Europe/Paris,False,1250827363
2,Olmet,Olmet,NaN,45.7100,3.6614,France,FR,FRA,Auvergne-RhÃ´ne-Alpes,Auvergne-Rhone-Alpes,FR-ARA,region,NaN,10.4,161.0,161.0,3,Europe/Paris,False,1250493300
3,Olmet,Olmet,NaN,44.9542,2.6108,France,FR,FRA,Auvergne-RhÃ´ne-Alpes,Auvergne-Rhone-Alpes,FR-ARA,region,NaN,71.0,NaN,NaN,4,Europe/Paris,True,1250526008
4,Gottenhouse,Gottenhouse,NaN,48.7208,7.3611,France,FR,FRA,Grand Est,Grand Est,FR-GES,region,NaN,305.6,382.0,382.0,3,Europe/Paris,False,1250641966
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
59059,La Rochette,La Rochette,Rochette,45.2609,6.2881,France,FR,FRA,Auvergne-RhÃ´ne-Alpes,Auvergne-Rhone-Alpes,FR-ARA,region,NaN,55.5,NaN,NaN,4,Europe/Paris,True,1250239167
59060,La Rochette,La Rochette,NaN,45.3056,3.4747,France,FR,FRA,Auvergne-RhÃ´ne-Alpes,Auvergne-Rhone-Alpes,FR-ARA,region,NaN,14.4,NaN,NaN,4,Europe/Paris,True,1250909356
59061,Saint-Eutrope,Saint-Eutrope,NaN,45.4181,0.1114,France,FR,FRA,Nouvelle-Aquitaine,Nouvelle-Aquitaine,FR-NAQ,region,NaN,62.9,168.0,168.0,3,Europe/Paris,False,1250001345
59062,Saint-Eutrope,Saint-Eutrope,NaN,44.4535,0.5204,France,FR,FRA,Nouvelle-Aquitaine,Nouvelle-Aquitaine,FR-NAQ,region,NaN,34.2,NaN,NaN,4,Europe/Paris,True,1250000461
59063,Taillis,Taillis,NaN,48.1889,-1.2389,France,FR,FRA,Bretagne,Bretagne,FR-E,region,NaN,81.2,996.0,996.0,3,Europe/Paris,False,1250655339

data.at?

Access a single value for a row/column label pair.

Similar to ``loc``, in that both provide label-based lookups. Use
``at`` if you only need to get or set a single value in a DataFrame
or Series.

Raises
------
KeyError
    * If getting a value and 'label' does not exist in a DataFrame or
        Series.
ValueError
    * If row/column label pair is not a tuple or if any label from
        the pair is not a scalar for DataFrame.
    * If label is list-like (*excluding* NamedTuple) for Series.

See Also
--------
DataFrame.at : Access a single value for a row/column pair by label.
DataFrame.iat : Access a single value for a row/column pair by integer
    position.
DataFrame.loc : Access a group of rows and columns by label(s).
DataFrame.iloc : Access a group of rows and columns by integer
    position(s).
Series.at : Access a single value by label.
Series.iat : Access a single value by integer position.
Notes
-----
See :ref:`Fast scalar value getting and setting <indexing.basics.get_value>`
for more details.

Examples
--------
>>> df = pd.DataFrame([[0, 2, 3], [0, 4, 1], [10, 20, 30]],
...                   index=[4, 5, 6], columns=['A', 'B', 'C'])
>>> df
    A   B   C
4   0   2   3
5   0   4   1
6  10  20  30

Get value at specified row/column pair

>>> df.at[4, 'B']
2

Set value at specified row/column pair

>>> df.at[4, 'B'] = 10
>>> df.at[4, 'B']
10

Get value within a Series

>>> df.loc[5].at['B']
4

In [14]:
df = pd.DataFrame([[0, 2, 3], [0, 4, 1], [10, 20, 30]], index=[4, 5, 6], columns=['A', 'B', 'C'])

In [15]:
df

    A   B   C
4   0   2   3
5   0   4   1
6  10  20  30

In [16]:
# Get value at specified row/column pair

In [17]:
df.at[4,'B']

2

In [18]:
df.at[6,'C']

30

In [19]:
# Get value within a Series

In [21]:
df.loc[5]

A    0
B    4
C    1
Name: 5, dtype: int64

In [24]:
df.loc[6]

A    10
B    20
C    30
Name: 6, dtype: int64

In [25]:
df.loc[6].at['B']

20

In [26]:
data

,city,city_ascii,city_alt,lat,lng,country,iso2,iso3,admin_name,admin_name_ascii,admin_code,admin_type,capital,density,population,population_proper,ranking,timezone,same_name,id
0,Saint-Oblas,Saint-Oblas,NaN,45.5674,5.0447,France,FR,FRA,Auvergne-RhÃ´ne-Alpes,Auvergne-Rhone-Alpes,FR-ARA,region,NaN,129.2,NaN,NaN,4,Europe/Paris,False,1250867231
1,Louresse,Louresse,Louresse-Rochemenier,47.2394,-0.3136,France,FR,FRA,Pays de la Loire,Pays de la Loire,FR-R,region,NaN,33.8,872.0,872.0,3,Europe/Paris,False,1250827363
2,Olmet,Olmet,NaN,45.7100,3.6614,France,FR,FRA,Auvergne-RhÃ´ne-Alpes,Auvergne-Rhone-Alpes,FR-ARA,region,NaN,10.4,161.0,161.0,3,Europe/Paris,False,1250493300
3,Olmet,Olmet,NaN,44.9542,2.6108,France,FR,FRA,Auvergne-RhÃ´ne-Alpes,Auvergne-Rhone-Alpes,FR-ARA,region,NaN,71.0,NaN,NaN,4,Europe/Paris,True,1250526008
4,Gottenhouse,Gottenhouse,NaN,48.7208,7.3611,France,FR,FRA,Grand Est,Grand Est,FR-GES,region,NaN,305.6,382.0,382.0,3,Europe/Paris,False,1250641966
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
59059,La Rochette,La Rochette,Rochette,45.2609,6.2881,France,FR,FRA,Auvergne-RhÃ´ne-Alpes,Auvergne-Rhone-Alpes,FR-ARA,region,NaN,55.5,NaN,NaN,4,Europe/Paris,True,1250239167
59060,La Rochette,La Rochette,NaN,45.3056,3.4747,France,FR,FRA,Auvergne-RhÃ´ne-Alpes,Auvergne-Rhone-Alpes,FR-ARA,region,NaN,14.4,NaN,NaN,4,Europe/Paris,True,1250909356
59061,Saint-Eutrope,Saint-Eutrope,NaN,45.4181,0.1114,France,FR,FRA,Nouvelle-Aquitaine,Nouvelle-Aquitaine,FR-NAQ,region,NaN,62.9,168.0,168.0,3,Europe/Paris,False,1250001345
59062,Saint-Eutrope,Saint-Eutrope,NaN,44.4535,0.5204,France,FR,FRA,Nouvelle-Aquitaine,Nouvelle-Aquitaine,FR-NAQ,region,NaN,34.2,NaN,NaN,4,Europe/Paris,True,1250000461
59063,Taillis,Taillis,NaN,48.1889,-1.2389,France,FR,FRA,Bretagne,Bretagne,FR-E,region,NaN,81.2,996.0,996.0,3,Europe/Paris,False,1250655339

In [27]:
data.head()

,city,city_ascii,city_alt,lat,lng,country,iso2,iso3,admin_name,admin_name_ascii,admin_code,admin_type,capital,density,population,population_proper,ranking,timezone,same_name,id
0,Saint-Oblas,Saint-Oblas,NaN,45.5674,5.0447,France,FR,FRA,Auvergne-RhÃ´ne-Alpes,Auvergne-Rhone-Alpes,FR-ARA,region,NaN,129.2,NaN,NaN,4,Europe/Paris,False,1250867231
1,Louresse,Louresse,Louresse-Rochemenier,47.2394,-0.3136,France,FR,FRA,Pays de la Loire,Pays de la Loire,FR-R,region,NaN,33.8,872.0,872.0,3,Europe/Paris,False,1250827363
2,Olmet,Olmet,NaN,45.7100,3.6614,France,FR,FRA,Auvergne-RhÃ´ne-Alpes,Auvergne-Rhone-Alpes,FR-ARA,region,NaN,10.4,161.0,161.0,3,Europe/Paris,False,1250493300
3,Olmet,Olmet,NaN,44.9542,2.6108,France,FR,FRA,Auvergne-RhÃ´ne-Alpes,Auvergne-Rhone-Alpes,FR-ARA,region,NaN,71.0,NaN,NaN,4,Europe/Paris,True,1250526008
4,Gottenhouse,Gottenhouse,NaN,48.7208,7.3611,France,FR,FRA,Grand Est,Grand Est,FR-GES,region,NaN,305.6,382.0,382.0,3,Europe/Paris,False,1250641966

In [28]:
data.at[0,'city_ascii']

'Saint-Oblas'

In [29]:
data.at[3,'lng']

2.6108

In [30]:
# to assign the value mutate

In [32]:
data.at[2, 'city'] = 'Delhi'

In [33]:
data.head()

,city,city_ascii,city_alt,lat,lng,country,iso2,iso3,admin_name,admin_name_ascii,admin_code,admin_type,capital,density,population,population_proper,ranking,timezone,same_name,id
0,Saint-Oblas,Saint-Oblas,NaN,45.5674,5.0447,France,FR,FRA,Auvergne-RhÃ´ne-Alpes,Auvergne-Rhone-Alpes,FR-ARA,region,NaN,129.2,NaN,NaN,4,Europe/Paris,False,1250867231
1,Louresse,Louresse,Louresse-Rochemenier,47.2394,-0.3136,France,FR,FRA,Pays de la Loire,Pays de la Loire,FR-R,region,NaN,33.8,872.0,872.0,3,Europe/Paris,False,1250827363
2,Delhi,Olmet,NaN,45.7100,3.6614,France,FR,FRA,Auvergne-RhÃ´ne-Alpes,Auvergne-Rhone-Alpes,FR-ARA,region,NaN,10.4,161.0,161.0,3,Europe/Paris,False,1250493300
3,Olmet,Olmet,NaN,44.9542,2.6108,France,FR,FRA,Auvergne-RhÃ´ne-Alpes,Auvergne-Rhone-Alpes,FR-ARA,region,NaN,71.0,NaN,NaN,4,Europe/Paris,True,1250526008
4,Gottenhouse,Gottenhouse,NaN,48.7208,7.3611,France,FR,FRA,Grand Est,Grand Est,FR-GES,region,NaN,305.6,382.0,382.0,3,Europe/Paris,False,1250641966

# Another method

# iat

In [34]:
# Access a single value for a row/column by integer position

In [35]:
data.iat[2,'city']

ValueError: iAt based indexing can only have integer indexers

In [36]:
# See this shows error, bcoz it accepts only integer for indexing

In [37]:
data.head()

,city,city_ascii,city_alt,lat,lng,country,iso2,iso3,admin_name,admin_name_ascii,admin_code,admin_type,capital,density,population,population_proper,ranking,timezone,same_name,id
0,Saint-Oblas,Saint-Oblas,NaN,45.5674,5.0447,France,FR,FRA,Auvergne-RhÃ´ne-Alpes,Auvergne-Rhone-Alpes,FR-ARA,region,NaN,129.2,NaN,NaN,4,Europe/Paris,False,1250867231
1,Louresse,Louresse,Louresse-Rochemenier,47.2394,-0.3136,France,FR,FRA,Pays de la Loire,Pays de la Loire,FR-R,region,NaN,33.8,872.0,872.0,3,Europe/Paris,False,1250827363
2,Delhi,Olmet,NaN,45.7100,3.6614,France,FR,FRA,Auvergne-RhÃ´ne-Alpes,Auvergne-Rhone-Alpes,FR-ARA,region,NaN,10.4,161.0,161.0,3,Europe/Paris,False,1250493300
3,Olmet,Olmet,NaN,44.9542,2.6108,France,FR,FRA,Auvergne-RhÃ´ne-Alpes,Auvergne-Rhone-Alpes,FR-ARA,region,NaN,71.0,NaN,NaN,4,Europe/Paris,True,1250526008
4,Gottenhouse,Gottenhouse,NaN,48.7208,7.3611,France,FR,FRA,Grand Est,Grand Est,FR-GES,region,NaN,305.6,382.0,382.0,3,Europe/Paris,False,1250641966

In [38]:
data.iat[0,0]

'Saint-Oblas'

In [40]:
data.iat[0,3]

45.5674

In [41]:
# which means it takes all the columns as 0,1,2... 'city'=> 0, 'city_ascii' => 1, and so on

In [42]:
data.columns

Index(['city', 'city_ascii', 'city_alt', 'lat', 'lng', 'country', 'iso2',
       'iso3', 'admin_name', 'admin_name_ascii', 'admin_code', 'admin_type',
       'capital', 'density', 'population', 'population_proper', 'ranking',
       'timezone', 'same_name', 'id'],
      dtype='object')

In [43]:
data.iat[2,0] = 'New Delhi'

In [44]:
data.head()

,city,city_ascii,city_alt,lat,lng,country,iso2,iso3,admin_name,admin_name_ascii,admin_code,admin_type,capital,density,population,population_proper,ranking,timezone,same_name,id
0,Saint-Oblas,Saint-Oblas,NaN,45.5674,5.0447,France,FR,FRA,Auvergne-RhÃ´ne-Alpes,Auvergne-Rhone-Alpes,FR-ARA,region,NaN,129.2,NaN,NaN,4,Europe/Paris,False,1250867231
1,Louresse,Louresse,Louresse-Rochemenier,47.2394,-0.3136,France,FR,FRA,Pays de la Loire,Pays de la Loire,FR-R,region,NaN,33.8,872.0,872.0,3,Europe/Paris,False,1250827363
2,New Delhi,Olmet,NaN,45.7100,3.6614,France,FR,FRA,Auvergne-RhÃ´ne-Alpes,Auvergne-Rhone-Alpes,FR-ARA,region,NaN,10.4,161.0,161.0,3,Europe/Paris,False,1250493300
3,Olmet,Olmet,NaN,44.9542,2.6108,France,FR,FRA,Auvergne-RhÃ´ne-Alpes,Auvergne-Rhone-Alpes,FR-ARA,region,NaN,71.0,NaN,NaN,4,Europe/Paris,True,1250526008
4,Gottenhouse,Gottenhouse,NaN,48.7208,7.3611,France,FR,FRA,Grand Est,Grand Est,FR-GES,region,NaN,305.6,382.0,382.0,3,Europe/Paris,False,1250641966