# Pandas DataFrame pipe

In [1]:
# pipe() -> method chaining

In [2]:
import pandas as pd

In [7]:
def load_data():
    return pd.read_excel("/Users/archanaqueen/Desktop/i18n/Daily Class/Pandas/Dataset_work/Employee Sample Data.xlsx")

In [8]:
load_data()

,EEID,Full Name,Job Title,Department,Business Unit,Gender,Ethnicity,Age,Hire Date,Annual Salary,Bonus %,Country,City,Exit Date
0,E02387,Emily Davis,Sr. Manger,IT,Research & Development,Female,Black,55,2016-04-08,141604,0.15,United States,Seattle,2021-10-16
1,E04105,Theodore Dinh,Technical Architect,IT,Manufacturing,Male,Asian,59,1997-11-29,99975,0.00,China,Chongqing,NaT
2,E02572,Luna Sanders,Director,Finance,Speciality Products,Female,Caucasian,50,2006-10-26,163099,0.20,United States,Chicago,NaT
3,E02832,Penelope Jordan,Computer Systems Manager,IT,Manufacturing,Female,Caucasian,26,2019-09-27,84913,0.07,United States,Chicago,NaT
4,E01639,Austin Vo,Sr. Analyst,Finance,Manufacturing,Male,Asian,55,1995-11-20,95409,0.00,United States,Phoenix,NaT
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,E03094,Wesley Young,Sr. Analyst,Marketing,Speciality Products,Male,Caucasian,33,2016-09-18,98427,0.00,United States,Columbus,NaT
996,E01909,Lillian Khan,Analyst,Finance,Speciality Products,Female,Asian,44,2010-05-31,47387,0.00,China,Chengdu,2018-01-08
997,E04398,Oliver Yang,Director,Marketing,Speciality Products,Male,Asian,31,2019-06-10,176710,0.15,United States,Miami,NaT
998,E02521,Lily Nguyen,Sr. Analyst,Finance,Speciality Products,Female,Asian,33,2012-01-28,95960,0.00,China,Chengdu,NaT
999,E03545,Sofia Cheng,Vice President,Accounting,Corporate,Female,Asian,63,2020-07-26,216195,0.31,United States,Miami,NaT

# Now I want to split the FirstName and LastName

In [13]:
def split_name(x):
    x["First Name"] = x["Full Name"].apply(lambda x:x.split(" ")[0])
    x["Last Name"] = x["Full Name"].apply(lambda x:x.split(" ")[1])
    return x

In [14]:
split_name(load_data())

,EEID,Full Name,Job Title,Department,Business Unit,Gender,Ethnicity,Age,Hire Date,Annual Salary,Bonus %,Country,City,Exit Date,First Name,Last Name
0,E02387,Emily Davis,Sr. Manger,IT,Research & Development,Female,Black,55,2016-04-08,141604,0.15,United States,Seattle,2021-10-16,Emily,Davis
1,E04105,Theodore Dinh,Technical Architect,IT,Manufacturing,Male,Asian,59,1997-11-29,99975,0.00,China,Chongqing,NaT,Theodore,Dinh
2,E02572,Luna Sanders,Director,Finance,Speciality Products,Female,Caucasian,50,2006-10-26,163099,0.20,United States,Chicago,NaT,Luna,Sanders
3,E02832,Penelope Jordan,Computer Systems Manager,IT,Manufacturing,Female,Caucasian,26,2019-09-27,84913,0.07,United States,Chicago,NaT,Penelope,Jordan
4,E01639,Austin Vo,Sr. Analyst,Finance,Manufacturing,Male,Asian,55,1995-11-20,95409,0.00,United States,Phoenix,NaT,Austin,Vo
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,E03094,Wesley Young,Sr. Analyst,Marketing,Speciality Products,Male,Caucasian,33,2016-09-18,98427,0.00,United States,Columbus,NaT,Wesley,Young
996,E01909,Lillian Khan,Analyst,Finance,Speciality Products,Female,Asian,44,2010-05-31,47387,0.00,China,Chengdu,2018-01-08,Lillian,Khan
997,E04398,Oliver Yang,Director,Marketing,Speciality Products,Male,Asian,31,2019-06-10,176710,0.15,United States,Miami,NaT,Oliver,Yang
998,E02521,Lily Nguyen,Sr. Analyst,Finance,Speciality Products,Female,Asian,33,2012-01-28,95960,0.00,China,Chengdu,NaT,Lily,Nguyen
999,E03545,Sofia Cheng,Vice President,Accounting,Corporate,Female,Asian,63,2020-07-26,216195,0.31,United States,Miami,NaT,Sofia,Cheng

In [18]:
data = pd.read_excel("/Users/archanaqueen/Desktop/i18n/Daily Class/Pandas/Dataset_work/Employee Sample Data.xlsx")

In [19]:
data

,EEID,Full Name,Job Title,Department,Business Unit,Gender,Ethnicity,Age,Hire Date,Annual Salary,Bonus %,Country,City,Exit Date
0,E02387,Emily Davis,Sr. Manger,IT,Research & Development,Female,Black,55,2016-04-08,141604,0.15,United States,Seattle,2021-10-16
1,E04105,Theodore Dinh,Technical Architect,IT,Manufacturing,Male,Asian,59,1997-11-29,99975,0.00,China,Chongqing,NaT
2,E02572,Luna Sanders,Director,Finance,Speciality Products,Female,Caucasian,50,2006-10-26,163099,0.20,United States,Chicago,NaT
3,E02832,Penelope Jordan,Computer Systems Manager,IT,Manufacturing,Female,Caucasian,26,2019-09-27,84913,0.07,United States,Chicago,NaT
4,E01639,Austin Vo,Sr. Analyst,Finance,Manufacturing,Male,Asian,55,1995-11-20,95409,0.00,United States,Phoenix,NaT
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,E03094,Wesley Young,Sr. Analyst,Marketing,Speciality Products,Male,Caucasian,33,2016-09-18,98427,0.00,United States,Columbus,NaT
996,E01909,Lillian Khan,Analyst,Finance,Speciality Products,Female,Asian,44,2010-05-31,47387,0.00,China,Chengdu,2018-01-08
997,E04398,Oliver Yang,Director,Marketing,Speciality Products,Male,Asian,31,2019-06-10,176710,0.15,United States,Miami,NaT
998,E02521,Lily Nguyen,Sr. Analyst,Finance,Speciality Products,Female,Asian,33,2012-01-28,95960,0.00,China,Chengdu,NaT
999,E03545,Sofia Cheng,Vice President,Accounting,Corporate,Female,Asian,63,2020-07-26,216195,0.31,United States,Miami,NaT

In [21]:
data['Gender'].unique()

array(['Female', 'Male'], dtype=object)

In [22]:
df = split_name(load_data())

In [23]:
df

,EEID,Full Name,Job Title,Department,Business Unit,Gender,Ethnicity,Age,Hire Date,Annual Salary,Bonus %,Country,City,Exit Date,First Name,Last Name
0,E02387,Emily Davis,Sr. Manger,IT,Research & Development,Female,Black,55,2016-04-08,141604,0.15,United States,Seattle,2021-10-16,Emily,Davis
1,E04105,Theodore Dinh,Technical Architect,IT,Manufacturing,Male,Asian,59,1997-11-29,99975,0.00,China,Chongqing,NaT,Theodore,Dinh
2,E02572,Luna Sanders,Director,Finance,Speciality Products,Female,Caucasian,50,2006-10-26,163099,0.20,United States,Chicago,NaT,Luna,Sanders
3,E02832,Penelope Jordan,Computer Systems Manager,IT,Manufacturing,Female,Caucasian,26,2019-09-27,84913,0.07,United States,Chicago,NaT,Penelope,Jordan
4,E01639,Austin Vo,Sr. Analyst,Finance,Manufacturing,Male,Asian,55,1995-11-20,95409,0.00,United States,Phoenix,NaT,Austin,Vo
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,E03094,Wesley Young,Sr. Analyst,Marketing,Speciality Products,Male,Caucasian,33,2016-09-18,98427,0.00,United States,Columbus,NaT,Wesley,Young
996,E01909,Lillian Khan,Analyst,Finance,Speciality Products,Female,Asian,44,2010-05-31,47387,0.00,China,Chengdu,2018-01-08,Lillian,Khan
997,E04398,Oliver Yang,Director,Marketing,Speciality Products,Male,Asian,31,2019-06-10,176710,0.15,United States,Miami,NaT,Oliver,Yang
998,E02521,Lily Nguyen,Sr. Analyst,Finance,Speciality Products,Female,Asian,33,2012-01-28,95960,0.00,China,Chengdu,NaT,Lily,Nguyen
999,E03545,Sofia Cheng,Vice President,Accounting,Corporate,Female,Asian,63,2020-07-26,216195,0.31,United States,Miami,NaT,Sofia,Cheng

In [24]:
def get_gender_info(df,x):
    df["Gender"] = df[x].map({"Male":"Boy","Female":"Girl"})
    return df

In [25]:
get_gender_info(df,"Gender")

,EEID,Full Name,Job Title,Department,Business Unit,Gender,Ethnicity,Age,Hire Date,Annual Salary,Bonus %,Country,City,Exit Date,First Name,Last Name
0,E02387,Emily Davis,Sr. Manger,IT,Research & Development,Girl,Black,55,2016-04-08,141604,0.15,United States,Seattle,2021-10-16,Emily,Davis
1,E04105,Theodore Dinh,Technical Architect,IT,Manufacturing,Boy,Asian,59,1997-11-29,99975,0.00,China,Chongqing,NaT,Theodore,Dinh
2,E02572,Luna Sanders,Director,Finance,Speciality Products,Girl,Caucasian,50,2006-10-26,163099,0.20,United States,Chicago,NaT,Luna,Sanders
3,E02832,Penelope Jordan,Computer Systems Manager,IT,Manufacturing,Girl,Caucasian,26,2019-09-27,84913,0.07,United States,Chicago,NaT,Penelope,Jordan
4,E01639,Austin Vo,Sr. Analyst,Finance,Manufacturing,Boy,Asian,55,1995-11-20,95409,0.00,United States,Phoenix,NaT,Austin,Vo
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,E03094,Wesley Young,Sr. Analyst,Marketing,Speciality Products,Boy,Caucasian,33,2016-09-18,98427,0.00,United States,Columbus,NaT,Wesley,Young
996,E01909,Lillian Khan,Analyst,Finance,Speciality Products,Girl,Asian,44,2010-05-31,47387,0.00,China,Chengdu,2018-01-08,Lillian,Khan
997,E04398,Oliver Yang,Director,Marketing,Speciality Products,Boy,Asian,31,2019-06-10,176710,0.15,United States,Miami,NaT,Oliver,Yang
998,E02521,Lily Nguyen,Sr. Analyst,Finance,Speciality Products,Girl,Asian,33,2012-01-28,95960,0.00,China,Chengdu,NaT,Lily,Nguyen
999,E03545,Sofia Cheng,Vice President,Accounting,Corporate,Girl,Asian,63,2020-07-26,216195,0.31,United States,Miami,NaT,Sofia,Cheng

In [26]:
data.columns

Index(['EEID', 'Full Name', 'Job Title', 'Department', 'Business Unit',
       'Gender', 'Ethnicity', 'Age', 'Hire Date', 'Annual Salary', 'Bonus %',
       'Country', 'City', 'Exit Date'],
      dtype='object')

In [27]:
res = (load_data().pipe(split_name).pipe(get_gender_info,"Gender"))

In [28]:
res

,EEID,Full Name,Job Title,Department,Business Unit,Gender,Ethnicity,Age,Hire Date,Annual Salary,Bonus %,Country,City,Exit Date,First Name,Last Name
0,E02387,Emily Davis,Sr. Manger,IT,Research & Development,Girl,Black,55,2016-04-08,141604,0.15,United States,Seattle,2021-10-16,Emily,Davis
1,E04105,Theodore Dinh,Technical Architect,IT,Manufacturing,Boy,Asian,59,1997-11-29,99975,0.00,China,Chongqing,NaT,Theodore,Dinh
2,E02572,Luna Sanders,Director,Finance,Speciality Products,Girl,Caucasian,50,2006-10-26,163099,0.20,United States,Chicago,NaT,Luna,Sanders
3,E02832,Penelope Jordan,Computer Systems Manager,IT,Manufacturing,Girl,Caucasian,26,2019-09-27,84913,0.07,United States,Chicago,NaT,Penelope,Jordan
4,E01639,Austin Vo,Sr. Analyst,Finance,Manufacturing,Boy,Asian,55,1995-11-20,95409,0.00,United States,Phoenix,NaT,Austin,Vo
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,E03094,Wesley Young,Sr. Analyst,Marketing,Speciality Products,Boy,Caucasian,33,2016-09-18,98427,0.00,United States,Columbus,NaT,Wesley,Young
996,E01909,Lillian Khan,Analyst,Finance,Speciality Products,Girl,Asian,44,2010-05-31,47387,0.00,China,Chengdu,2018-01-08,Lillian,Khan
997,E04398,Oliver Yang,Director,Marketing,Speciality Products,Boy,Asian,31,2019-06-10,176710,0.15,United States,Miami,NaT,Oliver,Yang
998,E02521,Lily Nguyen,Sr. Analyst,Finance,Speciality Products,Girl,Asian,33,2012-01-28,95960,0.00,China,Chengdu,NaT,Lily,Nguyen
999,E03545,Sofia Cheng,Vice President,Accounting,Corporate,Girl,Asian,63,2020-07-26,216195,0.31,United States,Miami,NaT,Sofia,Cheng

In [29]:
# This is the same line chaining statement